@using Deneme.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
   
}

            <div class="content">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title"><b>Ana Sayfa</b></h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0" style="display: block;">
                    </div>
                </div>
            </div>



